body h1,
h3,
h2,
h4 a,
p {
  font-family: "Poppins", sans-serif;
}

.header {
  /* padding: 0;
  margin: 0; */
  background: #e9ad00;
  padding: 18px 54px;
}
.nav-bar-custom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav-logo > a > img {
  /* background: wheat; */
  width: 100%;
  max-width: 165px;
}

#navbar-el ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

#navbar-el {
  max-width: 390px;
  width: 100%;
  /* background-color: aqua; */
}

#navbar-el > ul > li > a {
  color: white;
  font-size: 20px;
}

#navbar-el > ul > li > a:hover {
  text-decoration: none;
}

#search-box-header {
  float: right;
}

.header-search {
  padding: 6px 10px;

  font-size: 17px;
  border: none;
  width: 160px;
  background-color: #ffc500;
}
.header-btn {
  /* display: inline;
  margin: 0; */
  float: right;
  padding: 6px 16px;

  background: #00bfcb;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header-search::placeholder {
  color: white;
}

.header-search:focus {
  outline: none;
}

.header-btn > i {
  color: white;
}

/* sec 1 start */

.sec-1 > div {
  background-color: #ffc500;
  padding: 100px 0px;
}

/* .sec-1-wrapper {
  padding: 90px 222px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
} */

.sec-1-right > a > img {
  max-width: 350px;
  width: 100%;
  /* max-height: 500px;
  height: 100%; */
}

.sec-1-left > h1 {
  /* padding-right: 69px; */
  max-width: 660px;
  width: 100%;
  color: white;
  font-size: 65px;
  letter-spacing: 1px;
  padding-top: 40px;
}

.sec-1-left > p {
  max-width: 643px;
  width: 100%;
  color: white;
  font-size: 26px;
  margin: 35px 0px;
}

.sec-1-left a:first-of-type {
  text-decoration: none;
  color: white;
  background-color: #00c0cb;
  padding: 14px 20px;
  border-radius: 6px;
}

.sec-1-left a:last-of-type {
  text-decoration: none;
  color: white;
  background-color: #ffc500;
  padding: 14px 20px;
  border-radius: 6px;
  border: 1px solid white;
  margin-left: 20px;
}

/* section 2 :start */

.sec-2 {
  background-color: white;
}

.sec-2-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 0px;
}

.sec-2-right {
  position: relative;
  width: 100%;
  max-width: 328px;
  /* max-height: 300px; */
  height: 300px;
}

.sec-2-right-img {
  position: absolute;
  background-image: linear-gradient(
      0deg,
      rgba(255, 197, 0, 0.5),
      rgba(255, 197, 0, 0.5)
    ),
    url(./images/video2.png);
  background-size: cover;
  width: 100%;
  max-width: 328px;
  /* max-height: 300px; */
  height: 300px;
  z-index: 2;
}

.sec-2-right > a > i {
  color: white;
  position: absolute;
  right: 130px;
  top: 123px;
  z-index: 3;
}

.sec-2-right-inner {
  position: absolute;
  background-color: #ffc500;
  width: 200px;
  height: 150px;
  left: -39px;
  bottom: -21px;
  z-index: 1;
}

.sec-2-left > h1 {
  max-width: 478px;
  width: 100%;
  font-size: 42px;
  letter-spacing: 1px;
}

.sec-2-left > p {
  max-width: 505px;
  width: 100%;
  /* color: white; */
  font-size: 21px;
  letter-spacing: 1px;
  margin: 35px 0px;
}

.sec-2-left > a:first-of-type {
  text-decoration: none;
  color: white;
  background-color: #ffc500;
  padding: 14px 20px;
  border-radius: 6px;
}

/* section 3 :start */
.sec-3 {
  background-color: #ffc500;
}

.sec-3-wrapper {
  text-align: center;
  padding: 65px 0px;
}

.sec-3-wrapper > h1 {
  color: white;
  font-weight: bold;
  font-size: 62px;
}

.sec-3-wrapper > p {
  display: inline-block;
  color: white;
  font-size: 24px;
  max-width: 550px;
  width: 100%;
}

.sec-3-inner-items h3 {
  color: white;
  font-size: 36px;
  margin: 12px 0px;
}
.sec-3-inner-items p {
  color: white;
  max-width: 287px;
  font-size: 19px;
  width: 100%;
  display: inline-block;
}

/* section 4 :start */

.sec-4 {
  background-color: white;
}

.sec-4-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 0px;
}

.sec-4-right {
  position: relative;
  width: 100%;
  max-width: 328px;
  /* max-height: 300px; */
  height: 300px;
}

.sec-4-right-img {
  position: absolute;
  background-image: linear-gradient(
      0deg,
      rgba(255, 197, 0, 0.5),
      rgba(255, 197, 0, 0.5)
    ),
    url(./images/video.jpg.png);
  background-size: cover;
  width: 100%;
  max-width: 328px;
  /* max-height: 300px; */
  height: 300px;
  z-index: 2;
}

.sec-4-right > a > i {
  color: white;
  position: absolute;
  right: 130px;
  top: 123px;
  z-index: 3;
}

.sec-4-right-inner {
  position: absolute;
  background-color: #ffc500;
  width: 200px;
  height: 150px;
  right: -39px;
  bottom: -21px;
  z-index: 1;
}

.sec-4-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}

.sec-4-left > h1 {
  max-width: 478px;
  width: 100%;
  font-size: 42px;
  letter-spacing: 1px;
}

.sec-4-left > p {
  max-width: 435px;
  width: 100%;
  /* color: white; */
  font-size: 21px;
  letter-spacing: 1px;
  margin: 35px 0px;
}

.sec-4-left > a:first-of-type {
  text-decoration: none;
  color: white;
  background-color: #ffc500;
  padding: 14px 20px;
  border-radius: 6px;
}

/* section 5 :start */
.sec-5 {
  background-color: #ffc500;
}

.sec-5-wrapper {
  text-align: center;
  padding: 65px 0px;
}

.sec-5-wrapper > h1 {
  color: white;
  font-weight: bold;
  font-size: 62px;
}

.sec-5-wrapper > p {
  display: inline-block;
  color: white;
  font-size: 24px;
  max-width: 550px;
  width: 100%;
}

.sec-5-inner {
  display: flex;
}

.sec-5-inner-items h3 {
  color: white;
  font-size: 36px;
  margin: 12px 0px;
}

.sec-5-inner-items > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

.sec-5-inner-items > div h1 {
  color: white;
}

.sec-5-inner-items > div > h1:first-of-type {
  color: white;
  text-decoration-line: line-through;
}

/* section 6 :start */

.sec-6 {
  padding: 60px 0px;
}

.sec-6-wrapper {
  text-align: center;
}

.sec-6-wrapper h1 {
  font-weight: bold;
  font-size: 62px;
}

.sec-6-wrapper p {
  display: inline-block;
  margin: 5px 0px 55px 0px;
  font-size: 24px;
  max-width: 550px;
  width: 100%;
  margin-bottom: 15px;
}

/* .sec-6-inner {
  display: flex;
} */

.sec-6-inner-items img {
  max-width: 342px;
  width: 100%;
}

.sec-6-inner-items h3 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}

.sec-6-inner-items p {
  font-weight: 500;
  max-width: 287px;
  font-size: 19px;
  width: 100%;
  display: inline-block;
}

.sec-6-inner-items div a {
  color: white;
  background-color: #ffc500;
  padding: 3px 8px;
  border-radius: 68%;
  margin: 0px 2px;
}

/* section 7 :start */

.sec-7 {
  background-image: linear-gradient(
      0deg,
      rgba(255, 197, 0, 0.8),
      rgba(255, 197, 0, 0.8)
    ),
    url(./images/sec-7-bg.png);
  background-size: cover;
  padding: 190px 0px;
}

.sec-7-inner-items {
  align-items: center;
  text-align: center;
}

.sec-7-inner-items div img {
  margin-bottom: 31px;
}

.sec-7-inner-items div h3 {
  font-size: 31px;
  color: white;
}

.sec-7-inner-items div h3:last-of-type {
  font-weight: bold;
}

/* section 8 :start */

.sec-8 {
  padding: 60px 0px;
}

.sec-8-wrapper {
  text-align: center;
}

.sec-8-wrapper h1 {
  font-weight: bold;
  font-size: 62px;
}

.sec-8-wrapper p {
  display: inline-block;
  margin: 5px 0px 55px 0px;
  font-size: 18px;
  max-width: 550px;
  width: 100%;
  margin-bottom: 15px;
}

/* .sec-6-inner {
  display: flex;
} */

.sec-8-inner-items {
  text-align: initial;
  padding: 0px;
}

.sec-8-inner-items img {
  max-width: 342px;
  width: 100%;
}

.sec-8-inner-items h3 {
  font-size: 28px;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* .sec-8-inner-items p {
  font-weight: 500;
  max-width: 287px;
  font-size: 19px;
  width: 100%;
  display: inline-block;
} */

.sec-8-inner-items p :first-of-type {
  color: aqua;
}

.sec-8-inner-items div a {
  color: white;
  background-color: #ffc500;
  padding: 3px 8px;
  border-radius: 68%;
  margin: 0px 2px;
}

.sec-8-inner-items h4 {
  color: #00c0cb;
  font-size: 18px;
}

.sec-8-inner-items > a:first-of-type {
  text-decoration: none;
  color: #00bfcb;
  font-weight: 600;
  font-size: 21px;
}

/* .sec-8-inner-items div {
  background-image: url(./images/realdoc1.png);
  background-size: cover;
} */

/* footer :start */

.last-sec {
  background-color: #303030;
  padding: 130px 0px;
}

.footer-search {
  padding: 15px 10px;
  font-size: 17px;
  border: none;
  width: 350px;
  background-color: #ffc500;
}
.footer-btn {
  float: right;
  padding: 15px 45px;
  background: #00bfcb;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.footer-btn > i {
  color: white;
}

.last-sec-inner-items {
  display: flex;
  flex-direction: column;
}

.last-sec-right-items {
  text-align: right;
}

.last-sec-inner-items h1 {
  font-size: 30px;
  color: white;
}

.last-sec-inner-items a {
  font-size: 22px;
  text-decoration: none !important;
  cursor: pointer;
  color: white;
}

.last-sec-inner-items a:hover {
  color: white;
}

.last-sec-right-items h1 {
  font-size: 30px;
  color: white;
}

.last-sec-right-items p {
  font-size: 22px;
  color: white;
  margin-bottom: 30px;
}

.last-sec-right-items > div a {
  color: #303030;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50%;
  margin: 24px 4px;
  display: inline-block;
}

/* media queries */
